{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "extends": "airbnb",
  "rules": {
    "semi": [0],
    "react/jsx-filename-extension":[0],
    "no-console": "off",
    "react/forbid-prop-types": [0],
    "no-param-reassign": [0],
    "react/destructuring-assignment":[0],
    "prefer-destructuring":[0],
    "react/no-danger":[0],
    " linebreak-style":[0]
  }
}
